
<table>
<tr>
  <td>address</td>
  <td>state</td>
  <td>town</td>
  <td>owner</td>

</tr>
<% @buildings.each do |building| %>
  <tr>
    <td><%= building.street_address %></td>
    <td><%= building.state %></td>
    <td><%= building.city %></td>
    <% if building.owner.nil? %>
      <td> </td>
    <% else %>
      <td><%=building.owner.full_name %></td>
    <% end %>
  </tr>
<% end %>

</table>
